.offer--wrapper {
  @apply flex justify-evenly mx-auto  align-middle mt-5;
}
.offer--info {
  @apply flex flex-col;
}
.bt--line2 {
  height: 3px;
  width: 50px;
  background-color: blue;
  position: absolute;
  left: 40rem;
  top: 38rem;
  /* margin-left: 1rem; */
}
.imgs {
  @apply w-[387px] h-[204px] rounded-[10px];
}
.article {
  @apply w-[350px] h-[270px] text-[#252525];
}
.title {
  @apply text-[28px] my-[16px];
}
.offer--title {
  @apply text-[#252525] text-center text-[35px] my-10 font-serif font-extrabold;
}

@media screen and (max-width: 1024px) {
  .offer--wrapper {
    @apply flex flex-col items-center;
  }
  .offer--title {
    @apply text-[30px] -mt-32;
  }
  .bt--line2 {
    @apply left-[12rem] top-[30.5rem];
  }
}
