.about--wrapper {
  @apply bg-slate-50 my-40;
}
.article--wrapper {
  @apply w-[1150px] h-[700px] flex flex-row space-x-10 mx-auto pt-24;
}
.articles {
  @apply space-y-8;
}
.bt--line {
  height: 3px;
  width: 50px;
  background-color: blue;
  margin-left: 13rem;
}
/* .about--header::before {
  position: absolute;
  content: "";
} */
.about--header {
  @apply text-center my-7 text-[35px] font-extrabold font-serif;
}
.lawyer--img {
  @apply relative h-[700px] w-[100%] overflow-hidden;
}
.law--img {
  @apply w-[100%] h-auto overflow-hidden;
}

@media screen and (max-width: 1024px) {
  .about--wrapper {
    @apply my-4;
  }
  .article--wrapper {
    @apply flex flex-col m-4 p-2 w-auto;
  }
  .articles {
    @apply w-[23rem] h-[45rem] mb-10;
  }
  .lawyer--img {
    @apply overflow-visible pr-14;
  }
  .law--img {
    @apply h-[300px];
  }
  .about--wrapper {
    @apply border pb-[200px];
  }
  .bt--line {
    @apply ml-[10rem];
  }
}
