.nav--wrapper {
  @apply flex justify-end mt-1 space-x-6  text-[16px] relative;
}

.toggle--btn {
  display: none;
}
.icons {
  @apply mt-1;
}

@media screen and (max-width: 1024px) {
  .nav--wrapper {
    display: none;
  }
  .icons {
    @apply flex flex-row items-center justify-center text-white gap-4;
  }
  .toggle--btn {
    @apply block absolute cursor-pointer right-[5px] top-4;
  }
  .mobileView_links {
    @apply block absolute right-0 bottom-0 top-0 z-[1] w-full h-full;
    background-color: rgba(0, 0, 0, 0.863);
    transition: all 0.5s ease-in-out;
  }
  .mobileView_links > a {
    @apply text-white block text-center text-[20px] w-full;
    transition: all 0.5s ease-in-out;
  }
  a:hover {
    @apply text-blue-600;
  }
  a {
    @apply mt-8;
  }
  .icons {
    /* @apply mt-16; */
  }
}
